:root {
  --cyan: #039;
}

$max : 1400px;
$medium : 1000px;
$mini : 600px;

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;

  scroll-behavior: smooth;

  min-width: 400px;
}

my-container {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $max) {
    max-width: $medium;
  }

  @media (max-width: $medium) {
    max-width: $mini;
  }
}

.wrapper {}

.btn-big {
  display: inline-block;
  font-size: 16px;
  color: white;
  text-transform: uppercase;

  padding: 18px;
  background-color: var(--cyan);

  &:hover {
    opacity: 0.6;
  }
}

.btn-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  margin-top: 40px;

  color: var(--cyan);

  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

section {
  padding: 80px 0;

  &.gray {
    background-color: rgba(0, 0, 0, 0.05);
  }

  @media (max-width: $max) {
    padding: 60px 0;
  }

  @media (max-width: $medium) {
    padding: 40px 0;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;

  @media (max-width: $max) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: $mini) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--cyan);

  @media (max-width: $max) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: $mini) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 700;

  @media (max-width: $max) {
    font-size: 22px;
  }
}